* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFA55E; /* Light orange background */
}

.calculator {
    background-color: #222831; /* Dark background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 380px;
}

.show {

    color: #f2f2f2; /* Light text */
    font-size: 2rem;
    text-align: right;

    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}

.user {
    border-radius: 0.425rem;
    padding:10px;
    background-color: #1f1f1f;
    font-size: 1.2rem;
    color: #888;
}

.current {
    border-radius: 0.425rem;
    padding:10px;
    background-color: #1f1f1f;
    font-size: 2.5rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    align-items: center;
    justify-content: space-between;

}

button {
    box-shadow: #1b1b1b 3px 4px 8px;
    font-size: 1.5rem;
    background-color: #393E46;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 32px;
    cursor: pointer;
    transition: background-color 0.3s;

    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
        font-weight: lighter;
    font-size: large;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #666;
}

.equal {
    flex-grow: 2;
    background-color: #cd6c3a;
    color: #393E46;
}

.equal:hover {
    background-color: #c26e00;
}
.ac {

    color: #cd6c3a;

}

